.icon {
    width: 1.25rem;
    height: 1.25rem;
    background-color: currentcolor;
    mask-image: var(--icon-mask-image);
    mask-position: center;
    mask-repeat: no-repeat;
}

.icon-back {
    --icon-mask-image: url("/images/back.svg");
}

.icon-close {
    --icon-mask-image: url("/images/close.svg");
}

.icon-demos {
    --icon-mask-image: url("/images/demos.svg");
}

.icon-docs {
    --icon-mask-image: url("/images/doc.svg");
}

.icon-menu {
    --icon-mask-image: url("/images/menu.svg");
}

/* pages */
.icon-home {
    --icon-mask-image: url("/images/home.svg");
}


html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.button-link {
    text-decoration: unset;
}

/* Ribbon */
.rb-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: currentColor;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    --dxbl-icon-rb-search: url("../images/ribbon/search.svg");
    --dxbl-icon-rb-table: url("../images/ribbon/table.svg");
    --dxbl-icon-rb-document-blank: url("../images/ribbon/document-blank.svg");
    --dxbl-icon-rb-share: url("../images/ribbon/share.svg");
    --dxbl-icon-rb-mail: url("../images/ribbon/mail.svg");
    --dxbl-icon-rb-delete: url("../images/ribbon/delete.svg");
    --dxbl-icon-rb-column-chooser: url("../images/ribbon/column-chooser.svg");
    --dxbl-icon-rb-filter: url("../images/ribbon/grid-toolbar-filter.svg");
    --dxbl-icon-rb-edit: url("../images/ribbon/grid-toolbar-edit.svg");
}
.rb-text-item {
    color: rgb(22, 22, 22)
}
.rb-text-item:hover {
    color: rgb(22, 22, 22)!important
}

.rb-icon-edit {
    -webkit-mask-image: var(--dxbl-icon-rb-edit);
    mask-image: var(--dxbl-icon-rb-edit);
}
.rb-icon-column-chooser {
    -webkit-mask-image: var(--dxbl-icon-rb-column-chooser);
    mask-image: var(--dxbl-icon-rb-column-chooser);
}
.rb-icon-filter {
    -webkit-mask-image: var(--dxbl-icon-rb-filter);
    mask-image: var(--dxbl-icon-rb-filter);
}
.rb-icon-search {
    -webkit-mask-image: var(--dxbl-icon-rb-search);
    mask-image: var(--dxbl-icon-rb-search);
}

.rb-icon-table {
    -webkit-mask-image: var(--dxbl-icon-rb-table);
    mask-image: var(--dxbl-icon-rb-table);
}

.rb-icon-document-blank {
    -webkit-mask-image: var(--dxbl-icon-rb-document-blank);
    mask-image: var(--dxbl-icon-rb-document-blank);
}

.rb-icon-folder-open {
    -webkit-mask-image: var(--dxbl-icon-rb-folder-open);
    mask-image: var(--dxbl-icon-rb-folder-open);
}

.rb-icon-print {
    -webkit-mask-image: var(--dxbl-icon-rb-print);
    mask-image: var(--dxbl-icon-rb-print);
}

.rb-icon-share {
    -webkit-mask-image: var(--dxbl-icon-rb-share);
    mask-image: var(--dxbl-icon-rb-share);
}

.rb-icon-mail {
    -webkit-mask-image: var(--dxbl-icon-rb-mail);
    mask-image: var(--dxbl-icon-rb-mail);
}

.rb-icon-delete {
    -webkit-mask-image: var(--dxbl-icon-rb-delete);
    mask-image: var(--dxbl-icon-rb-delete);
}

